
body{
    margin: 0;
    background-image: url(body.jpg);
}

header{

    background-color: red;
    padding: 10px;
    font-family: "Arial";
    color: white;
    text-align: center;
    text-transform: capitalize;
    font-size: 50px;
    font-weight: bolder;
}

nav{
    background-color: #333;
    overflow: hidden;
    
    

}

nav a{
    float: right;
    color: white;
    text-transform: capitalize;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 20px;
    font-family: "Comic Sans Ms", Arial;
    
    
}
nav a:hover{
    background-color: black;
    color: white;
}

img {
    margin: auto;
    display: block;
    width: 20%;
    height: 20%;
    
}

.brightness {filter: brightness(250%);}