
body{
    margin: 0;
    background-image: url(/static/img/body.jpg);
}

header{

    background-color: red;
    padding: 10px;
    font-family: "Arial";
    color: white;
    text-align: center;
    text-transform: capitalize;
    font-size: 50px;
    font-weight: bolder;
}

nav{
    background-color: #333;
    overflow: hidden;
    
    

}

nav a{
    float: right;
    color: white;
    text-transform: capitalize;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 20px;
    font-family: "Comic Sans Ms", Arial;
    
    
}
nav a:hover{
    background-color: black;
    color: white;
}

img {
    margin: auto;
    display: block;
    width: 20%;
    height: 20%;
    
}

.brightness {filter: brightness(250%);}

section{
    font-family: 'Segoe UI';
    font-size: x-large;
    text-align: center;
    color: rgb(226, 207, 37);
    margin: 2% 35% 3% 40%;
    font-weight: bold;
}

input[type=url] {
    width: 35%;
    padding: 15px 10px;
    margin: 3% 25% 1% 35%;
    box-sizing: border-box;
    border: rgb(65, 37, 37) block;
}

input[type=submit] {
    width: 35%;
    padding: 5px;
    margin: 0% 5% 1% 35%;
    box-sizing: border-box;
    border: rgb(65, 37, 37) block;
}

